:root {

  /*Colors*/
    --clr-slider-bar: #a5f3eb;
    --clr-slider-circle: #10d5c2;
    --clr-discount-bg: 	#feece7;
    --clr-discount-txt: 	#ff8c66;
    --clr-cta-txt: 	#bdccff;
    --clr-white: #FFF;
    --clr-body-bg: #fafbff;
    --clr-empty-slider-bar: #eaeefb;
    --clr-toggle-bg: #cdd7ee;
    --clr-main-txt: #858fad;
    --clr-cta-bg: #293356;
}

/* MOBILE STYLINGS */

body {
  font-family: "Manrope", sans-serif;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
  padding: 4rem 0;
  color: var(--clr-main-txt);
  background-color: var(--clr-body-bg);
}

header {
  background-image: url("../images/pattern-circles.svg");
  background-size: 10.25rem;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.125rem 0;
}

h1 {
  font-size: 1.3rem;
  color: var(--clr-cta-bg);
}

.heading-paragraph {
  width: 56%;
  margin: 0 0 2rem 0;
  line-height: 1.5rem;
}

main {
  background-color: var(--clr-white);
  width: 92%;
  margin: 2rem 0;
  border-radius: .5rem;
  box-shadow: 0 1rem 1.5rem var( --clr-empty-slider-bar);
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper-section,
.lower-section,
.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Top Section Styling*/

.upper-section {
  padding-bottom: 2rem;
}

h2 {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  order: -1;
  margin-bottom: 3rem;
}


.range-section {
  order: -1;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}


.views {
  width: 100%;
  z-index: 3;
  position: absolute;
}

.real-range {
  width: 100%;
  padding: 2rem 0;
  opacity: 0;
}

.range-visuals {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;
}


.meter {
  background-color: var(--clr-empty-slider-bar);
  height: .5rem;
  width: 100%;
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  bottom: 50%;
}


.inner-meter {
  height: 100%;
  width: 50%;
  background-color: var(--clr-slider-bar);
  border-radius: 1rem;
}




.inner-circle {
  background-color: var(--clr-slider-circle);
  width: 2.125rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 .5rem 2rem var(--clr-slider-circle);
  left: 7.55rem;
  position: absolute;
  z-index: 2;
}

h3 {
  padding-top: 2rem;
  font-size: .8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.price {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--clr-cta-bg);
  padding-right: .5rem;
}

/*Toggle Section Styling*/

.toggle-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.monthly-billing {
  padding-left: 1.75rem;
}

.switch-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 .5rem;
  position: absolute;
  z-index: 3;

}

.checkbox {
  width: 2.5rem;
  height: 1.2rem;
}

.switch-holder {
  background-color: var(--clr-toggle-bg);
  width: 2.5rem;
  height: 1.26rem;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.switch-circle {
  background-color: var(--clr-white);
  width: .8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: .25rem;
}

.yearly-billing {
  display: flex;
  justify-content: center;
  align-items: center;
}


.discount {
  background-color: var(--clr-discount-bg);
  color: var(--clr-discount-txt);
  padding: .1rem .5rem;
  border-radius: 1rem;
  font-size: .6rem;
  margin-left: .4rem;
}

.discount-desktop {
  display: none;
}



/*Divider Styling*/

.divider {
  height: 2px;
  background-color: var(--clr-empty-slider-bar);
}

/*Bottom Section Stylng */

ul {
  list-style: none;
  padding: 1rem 0 2rem 0;
}

li {
  line-height: 2rem;
}

.check {
  margin-right: 1rem;
}

a {
  background-color: var(--clr-cta-bg);
  color: var(--clr-cta-txt);
  text-decoration: none;
  padding: 1rem 3.75rem;
  border-radius: 2rem;
}
